<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Lars Akkermans</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Bourgondische bieren</h3>
    <p>
      Deze site bestaat uit allerlei speciaal bieren die je hier kan bestellen of vergelijken. Ook kan je
      pakketen samenstellen en kant en klare pakketen bestellen.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Lars Akkermans</h5>
        <p class="card-text">
          Studentnummer: 2146148
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Bier</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>soort: string</li>
      <li>alcoholpercentage: decimal</li>
      <li>prijs: decimal</li>
      <li>beschrijving: string</li>
      <li>afbeelding: string</li>
      <li>hoeveelheid: decimal</li>
      <li>merk: string</li>
      <li>comments: array comment_id, ref</li>
    </ul>
  </div>
  <!--<div class="col-sm-12 col-md-4">
    <p>Pakket</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>beschrijving: string</li>
      <li>bieren: array bier_id, ref</li>
      <li>aantal_bieren: number</li>
    </ul>
  </div>-->
  <div class="col-sm-12 col-md-4">
    <p>Gebruiker</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>email: string</li>
      <li>password: string</li>
      <li>adres: string</li>
      <li>postcode: string</li>
      <li>bestellingen: array bestelling_id, ref</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Bestelling</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>datum: date</li>
      <li>gebruiker: gebruiker_id, ref</li>
      <!--<li>packets: array pakket_id, ref</li>-->
      <li>beers: array bier_id, ref</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>comment</p>
    <ul>
      <li>title: string</li>
      <li>id: number</li>
      <li>content: string</li>
      <li>gebruiker: gebruiker_id, ref</li>
      <li>rating: number</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
