<div class="container">
  <div class="row">
    <h2>Beer list</h2>
    <hr class="my-2" />
  </div>

  <div class="row">
    <div
      class="card bg-dark mb-3 text-white col-md-4"
      style="max-height: 500px; margin-right: 5px; margin-left: 5px;"
      *ngFor="let beer of beers"
    >
      <div class="row no-gutters">
        <div class="col-md-4" style="text-align: center; padding-top: 25px; padding-bottom: 5px;">
          <img
            src="{{ beer.imageUrl }}"
            class="card-img"
            alt="..."
            style="display: inline-block;vertical-align: top; max-width: 60%; height: auto; max-height: 400px;"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ beer.name }}</h5>
            <p class="card-text">{{ beer.description }}</p>
            <p class="card-text">
              <small class="text-muted">{{ beer.specie }}</small>
            </p>
            <a routerLink="/beers/{{ beer['_id'] }}" role="button" class="btn btn-light">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
