<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ this.beer.imageUrl }}" alt="{{ this.beer.name }}" />
    </div>
    <div class="col-md-8">
      <h2>{{ this.beer.name }}</h2>
      <hr class="my-4" />
      <p>{{ this.beer.description }}</p>
      <p>here comes everything such as price, specie and ability to add to cart</p>
    </div>
  </div>

  <div class="row">
    <h4>Other related beers here ...</h4>
  </div>
</div>
